.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    background: rgb(255, 50, 50);
    opacity: 0.4;
    border-radius: 80%;
    backface-visibility: hidden;
  }